.hunter{
    background-image: url(../img/Hunter/bg-monsterhunter-d8513bf6.png);
}
.hunter img{
    width: 660px;
    border-radius: 10px;
    margin-left: 5%;
}
.hunter p {
    color: #fff;
    font-family: DinItalic;
    font-size: 24px;
    padding: 20px 0;
    width: 80%;
    transform: translate(15%);

}
.hunter-container{
    position: relative;
    display: flex;
    margin-bottom: 7%;
    left: 4em;
}
.galery-hunter{
    position: relative;
    bottom: 5em;
    left: 25%;
}
.galery-hunter img{
    height: 180px;
    width: 290px;
    cursor: pointer;
}
.text-hunter{
    width: 45%;
    height: 10%;
    background: url(../img/OpenW/background.png);
    border: 1px solid transparent;
    border-image: url(../img/OpenW/borda.png) 1;
}